$gray : #808080;
$error : #b94a48;
$valid : #089e00;




//Single Field Credit Card input
//These styles were modified from http://zdfs.github.io/toscani/paymentInfo/index.html
body {
	padding: 2em 1em;
}

section {
	margin-bottom: 2em;
}

.hide {
	left: -999999px;
	position: absolute;
}

/* ======================================
 * NOSCRIPT STYLES
 * ======================================
 */

 .credit-card-group-container {
 	border: 0;
 	padding: 0;

 	legend {
 		display: block;
 		margin-bottom: 0.3em;
 	}
 }

.js .credit-card-group {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;

	border: 1px solid $gray;
	overflow: hidden;
	padding: 0 0.5em;
	margin-bottom: 0.2em;
	position: relative;

	input {
		background: transparent;
		border: 0;
		box-shadow: none;
		outline: 0;
		padding: 0;
		padding: 1em 0;

	}

	.card-number {
		width: 206px;

		&.transitioning-out {
			-webkit-animation-iteration-count: 1;
			-moz-animation-iteration-count: 1;
			-o-animation-iteration-count: 1;
			animation-iteration-count: 1;
			-webkit-animation-duration: .4s;
			-moz-animation-duration: .4s;
			-o-animation-duration: .4s;
			animation-duration: .4s;
			-webkit-animation-fill-mode: both;
			-moz-animation-fill-mode: both;
			-o-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: slide;
			-moz-animation-name: slide;
			-o-animation-name: slide;
			animation-name: slide;
		}

		&.transitioning-in {
			-webkit-transition: width 0s linear;
			-moz-transition: width 0s linear;
			-ms-transition: width 0s linear;
			-o-transition: width 0s linear;
			transition: width 0s linear;
			width: 206px;
		}

		&.full {
			width: 15%;
		}
	}

	.card-expiration{
		width: 21.5%;
	}

	.card-zip { 
		width: 20%;
	}

	.card-cvv {
		width: 18%;
	}

	.card-image {
		background: url(../images/creditcards.svg) 0 0 no-repeat;
		background-size: 100% auto;
		display: inline-block;
		height: 22px;
		position: relative;
		top: 50%;
		margin: 0 3px -6px 0;
		width: 32px;
		z-index: 2;

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d;

		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-ms-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;

		&.visa {
			background-position: 0 -21px;
		}

		&.mc { 
			background-position: 0 -44px;
		}

		&.amex {
			background-position: 0 -66px;
		}

		&.disc { 
			background-position: 0 -88px;
		}

		&.cvv2 {
			background-position: 0 -156px;
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			-ms-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
			transform: rotateY(180deg);
		}
	}

	&.invalid { 
		border-color: $error;

		input {
			color: $error;
		}
	}

	&.valid { 
		border-color: $valid;
	}
}

.card-instruction {
	font-size: 80%;
	color: $gray;

	&.invalid {
		color: $error;
	}

	&.valid {
		color: $valid;
	}
}

.shake {
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: .4s;
	-moz-animation-duration: .4s;
	-o-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

/* ======================================
 * ANIMATIONS
 * ======================================
 */
@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); }
  30%, 60% { -webkit-transform: translateX(-10px); }
  40%, 80% { -webkit-transform: translateX(10px); }
}

@-webkit-keyframes slide {
	0%, 10% { text-indent: 0; width: 186px; -webkit-transform: translateX(-10%); }
	10%, 20% { text-indent: -15px; width: 176px; -webkit-transform: translateX(-10%); }
	20%, 30% { text-indent: -30px; width: 156px; -webkit-transform: translateX(-10%); }
	30%, 40% { text-indent: -45px; width: 136px; -webkit-transform: translateX(-10%); }
	40%, 50% { text-indent: -60px; width: 116px; -webkit-transform: translateX(-10%); }
	50%, 60% { text-indent: -75px; width: 96px; -webkit-transform: translateX(-15%); }
	60%, 70% { text-indent: -90px; width: 76px; -webkit-transform: translateX(-15%); }
	70%, 80% { text-indent: -105px; width: 66px; -webkit-transform: translateX(-10%); }
	80%, 90% { text-indent: -110px;width: 56px; -webkit-transform: translateX(-5%); }
	90%, 100% { text-indent: -120px;width: 46px; -webkit-transform: translateX(0); }
}

@-moz-keyframes slide {
	0%, 10% { text-indent: 0; width: 186px; -moz-transform: translateX(-10%); }
	10%, 20% { text-indent: -15px; width: 176px; -moz-transform: translateX(-10%); }
	20%, 30% { text-indent: -30px; width: 156px; -moz-transform: translateX(-10%); }
	30%, 40% { text-indent: -45px; width: 136px; -moz-transform: translateX(-10%); }
	40%, 50% { text-indent: -60px; width: 116px; -moz-transform: translateX(-10%); }
	50%, 60% { text-indent: -75px; width: 96px; -moz-transform: translateX(-15%); }
	60%, 70% { text-indent: -90px; width: 76px; -moz-transform: translateX(-15%); }
	70%, 80% { text-indent: -105px; width: 66px; -moz-transform: translateX(-10%); }
	80%, 90% { text-indent: -110px;width: 56px; -moz-transform: translateX(-5%); }
	90%, 100% { text-indent: -120px;width: 46px; -moz-transform: translateX(0); }
}

@-o-keyframes slide {
	0%, 10% { text-indent: 0; width: 186px; -o-transform: translateX(-10%); }
	10%, 20% { text-indent: -15px; width: 176px; -o-transform: translateX(-10%); }
	20%, 30% { text-indent: -30px; width: 156px; -o-transform: translateX(-10%); }
	30%, 40% { text-indent: -45px; width: 136px; -o-transform: translateX(-10%); }
	40%, 50% { text-indent: -60px; width: 116px; -o-transform: translateX(-10%); }
	50%, 60% { text-indent: -75px; width: 96px; -o-transform: translateX(-15%); }
	60%, 70% { text-indent: -90px; width: 76px; -o-transform: translateX(-15%); }
	70%, 80% { text-indent: -105px; width: 66px; -o-transform: translateX(-10%); }
	80%, 90% { text-indent: -110px;width: 56px; -o-transform: translateX(-5%); }
	90%, 100% { text-indent: -120px;width: 46px; -o-transform: translateX(0); }
}

@keyframes slide {
	0%, 10% { text-indent: 0; width: 186px; transform: translateX(-10%); }
	10%, 20% { text-indent: -15px; width: 176px; transform: translateX(-10%); }
	20%, 30% { text-indent: -30px; width: 156px; transform: translateX(-10%); }
	30%, 40% { text-indent: -45px; width: 136px; transform: translateX(-10%); }
	40%, 50% { text-indent: -60px; width: 116px; transform: translateX(-10%); }
	50%, 60% { text-indent: -75px; width: 96px; transform: translateX(-15%); }
	60%, 70% { text-indent: -90px; width: 76px; transform: translateX(-15%); }
	70%, 80% { text-indent: -105px; width: 66px; transform: translateX(-10%); }
	80%, 90% { text-indent: -110px;width: 56px; transform: translateX(-5%); }
	90%, 100% { text-indent: -120px;width: 46px; transform: translateX(0); }
}

@-moz-keyframes shake {
  0%, 100% { -moz-transform: translateX(0); }
  30%, 60% { -moz-transform: translateX(-10px); }
  40%, 80% { -moz-transform: translateX(10px); }
}

@-o-keyframes shake {
  0%, 100% { -o-transform: translateX(0); }
  30%, 60% { -o-transform: translateX(-10px); }
  40%, 80% { -o-transform: translateX(10px); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  30%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}