/* ======================================
 * SASS HELPERS
 * ======================================
 */

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

/* ======================================
 * DEMO STYLES
 * ======================================
 */

* {
	@include box-sizing(border-box);
}

::-webkit-input-placeholder,
:-moz-placeholder {
   color: #DDD;
}

/* ======================================
 * UTILITY CLASSES
 * ======================================
 */

.hide {
	left: -999999px;
	position: absolute;
}

/* ======================================
 * NOSCRIPT STYLES
 * ======================================
 */

.no-js .credit-card-group {
 	border: 0;
 }
.no-js .credit-card-group input {
	margin-top: 10px;
}

/* ======================================
 * SCRIPT STYLES
 * ======================================
 */

.js .credit-card-group {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;

	@include box-shadow(0 0 7px rgba(200,200,200,1) inset, 0 1px rgba(0,0,0,.1));

	background: #FFF;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.js .credit-card-group input {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	vertical-align: 13%;
}
.js .credit-card-group input.card-number {
	@include calc(width, "100% - 44px");
}
.js .credit-card-group input.card-number.transitioning {
	@include transition (all .2s ease-in-out);
	@include transform(translateX(-.5rem));
}
.js .credit-card-group input.card-expiration {
	width: 21.5%;
}
.js .credit-card-group input.card-zip {
	width: 20%;
}
.js .credit-card-group input.card-cvv {
	width: 18%;
}
.js .credit-card-group input.card-expiration.full,
.js .credit-card-group input.card-zip.full,
.js .credit-card-group input.card-cvv.full {
	text-align: center;
}
.js .credit-card-group input.card-number.full {
	width: 15%;
}
.credit-card-group .card-image {
	background: url("../images/money.png") 50% 50% no-repeat;
	display: inline-block;
	height: 19px;
	margin: 3px 5px 0 3px;
	position: relative;
	width: 30px;
	z-index: 2;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	@include transition (all .25s linear);

}
.credit-card-group .card-image.visa {
	background: url("../images/visa.png") 0 50% no-repeat;
}
.credit-card-group .card-image.amex {
	background: url("../images/amex.png") 0 50% no-repeat;
}
.credit-card-group .card-image.mc {
	background: url("../images/mastercard.png") 0 50% no-repeat;
}
.credit-card-group .card-image.disc {
	background: url("../images/discover.png") 0 50% no-repeat;
}
.credit-card-group .card-image.cvv2 {
	background: url("../images/cvv.png") 0 50% no-repeat;
	@include transform(rotateY(180deg));
}
.credit-card-group.fixed-width {
	max-width: 250px;
}
.credit-card-group.invalid {
	border: 1px solid #A51D33;
}
.credit-card-group.invalid input {
	color: #A51D33;
}
.shake {
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-duration: .4s;
	-moz-animation-duration: .4s;
	-o-animation-duration: .4s;
	animation-duration: .4s;

	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

/* ======================================
 * ANIMATIONS
 * ======================================
 */

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	30%, 60% {-webkit-transform: translateX(-10px);}
	40%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	30%, 60% {-moz-transform: translateX(-10px);}
	40%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	30%, 60% {-o-transform: translateX(-10px);}
	40%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	30%, 60% {transform: translateX(-10px);}
	40%, 80% {transform: translateX(10px);}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.js .credit-card-group {
		padding: 5px;
	}
	.js .credit-card-group.fixed-width {
		max-width: 100%;
	}
	.js .credit-card-group input {
		font-size: 20px;
	}
	.js .credit-card-group input {
		vertical-align: 5%;
	}
	.js .credit-card-group input.card-expiration {
		width: 25.5%;
	}
	.js .credit-card-group input.card-zip {
		width: 20.5%;
	}
	.js .credit-card-group input.card-cvv {
		width: 17%;
	}
	.js .credit-card-group input.card-number.full {
		width: 16.8%;
	}
}

/* ======================================
 * RETINA SUPPORT
 * ======================================
 */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.credit-card-group .card-image {
		background: url("../images/money_2X.png") 0 50% no-repeat;
		background-size: 30px 19px;
	}
	.credit-card-group .card-image.visa {
		background: url("../images/visa_2X.png") 0 50% no-repeat;
	}
	.credit-card-group .card-image.amex {
		background: url("../images/amex_2X.png") 0 50% no-repeat;
	}
	.credit-card-group .card-image.mc {
		background: url("../images/mastercard_2X.png") 0 50% no-repeat;
	}
	.credit-card-group .card-image.disc {
		background: url("../images/discover_2X.png") 0 50% no-repeat;
	}
	.credit-card-group .card-image.cvv2 {
		background: url("../images/cvv_2X.png") 0 50% no-repeat;
	}

}